.profile {
  width: 100%;
  display: flex;
  color: white;
  padding: 40px 0 51px;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "occupation occupation";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 10px 18px;
  align-items: center;
  margin-left: 30px;
}

.profile__avatar-section {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.profile__avatar {
  margin-right: 30px;
  object-fit: cover;
  transition: 0.5s ease;
  z-index: 3;
}

.profile__avatar:hover {
  opacity: 0.3;
  z-index: 1;
}

.profile__edit-avatar {
  width: 26px;
  height: 26px;
  align-self: center;
  position: absolute;
  left: 50px;
  z-index: 2;
}

.profile__name {
  grid-area: name;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 373px;
}

.profile__occupation {
  grid-area: occupation;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 373px;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url(../images/Edit-button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  align-self: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/Add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 27px 51px;
  }
}

@media screen and (max-width: 775px) {
  .profile__info {
    grid-template-columns: auto auto;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.22;
    text-align: start;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 632px) {
  .profile {
    flex-direction: column;
    padding-bottom: 0;
  }

  .profile__avatar {
    margin-right: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 282px;
    grid-gap: 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 15px;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    margin: 36px 0;
    width: 282px;
    background-size: 16px 16px;
  }

  .profile__name {
    max-width: 196px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 14px;
  }

  .profile__occupation {
    width: 100%;
    max-width: 282px;
    font-size: 14px;
    text-align: center;
  }
}
